<ion-header>
  <ion-toolbar>
    <ion-title>{{ politico ? 'Editar' : 'Nuevo' }} Político</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="cancelar()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <form [formGroup]="form">
    <ion-item>
      <ion-label position="stacked">Nombre *</ion-label>
      <ion-input formControlName="nombre"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Apellido *</ion-label>
      <ion-input formControlName="apellido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Cargo *</ion-label>
      <ion-select formControlName="cargo">
        <ion-select-option *ngFor="let cargo of cargos" [value]="cargo">
          {{ cargo }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Partido Político *</ion-label>
      <ion-input formControlName="partido"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Departamento</ion-label>
      <ion-select formControlName="departamento">
        <ion-select-option *ngFor="let dept of departamentos" [value]="dept">
          {{ dept }}
        </ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Teléfono</ion-label>
      <ion-input formControlName="telefono"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">URL Foto</ion-label>
      <ion-input formControlName="foto"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Fecha de Inicio</ion-label>
      <ion-input formControlName="fechaInicio" type="date"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Biografía</ion-label>
      <ion-textarea formControlName="bio" rows="4"></ion-textarea>
    </ion-item>

    <ion-button expand="block" (click)="guardar()" [disabled]="!form.valid">
      Guardar
    </ion-button>
  </form>
</ion-content>